.container{
    display: flex;
    justify-content: center;
    margin:2rem;
    padding:2rem;
}
.content{
    display: flex;
    justify-content: center;
    border: 5px solid black;
}
/* phone */
/* @media screen {
    .container{
        margin:10px;
        padding:5px;
    }
    article.pa5{
        padding:10px 0px;
    }
    label{
        text-align: center;
    }
} */